<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/finish.css') }}">
        <title>Classifier</title>
    </head>
    <body>
        <div class="container">
            <div class="popup">
                <img src="{{ url_for('static', filename='asset/tick.png') }}">
                <h2>Change Commited!</h2>
                <p>Check your folders for the change you made. Please restart the website instead of going back.</p>
            </div>
        </div>
    </body>
</html>